body{
    background-color: blanchedalmond;
}

.top-message-bar{
    background-color: rgb(253, 220, 179);

    text-align: center;
    
    padding: 4px;
}

.header{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px ;
    background-color: rgb(249, 208, 156);

}

.left, .center, .right{
    display: flex;
    align-items: center;
}

.right{
    justify-content: flex-end;
}

.right i {
    margin-left: 20px;
    cursor: pointer;
}

.left, .right {
    margin-left: 20px;
    margin-right: 20px;
}

.menu-container{
    position:relative; /*this element lays on top, other contents around won't adjust to make space*/
    display: inline-block;
}

.menu-container i {
    cursor: pointer;
}

.dropdown-menu{
    display: none;
    position: absolute; /*is positioned relative to the nearest ancestor, in our case menu icon*/
    top: 100%;
    left: 0;
    background-color: antiquewhite;
    border: 1px solid #ddd;
    min-width: 200px; /*width has to be atleast*/
    padding: 5px;
    z-index: 999;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.dropdown-menu a {
    display:block;
    padding: 5px;
    color: black;
    text-decoration: none;

}

.dropdown-menu a:hover{
    background-color: rgb(249, 228, 200);
}

.dropdown-menu.show{
    display: block;
}

select{
    appearance: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    
    width: 200px;
    padding: 5px 35px 5px 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: antiquewhite;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    font-family: inherit;  
    font-size: inherit;
    font-weight: inherit; 
}


/*display products in a grid*/
.products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
/*responsive design*/
@media(max-width: 575px){
    .products-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    }
}

.products-container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;

    gap: 16px;
    width: 200px;
    max-width: 300px;
    
    
}

.product-image-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    

    height: 180px;
}

.product-image {
    border-radius: 6px;
    max-width: 100%;
    max-height: 100%;
}

.product-name {
    text-align: center;
    margin-top: 10px;
    height: 40px;
}

.product-price {
    text-align: center;
    height: 20px;
    margin-bottom: 20px;

}
