body{
    background-color: blanchedalmond;
}

.top-message-bar{
    background-color: rgb(253, 220, 179);

    text-align: center;
    
    padding: 4px;
}

.header{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px ;
    background-color: rgb(249, 208, 156);

}

.left, .center, .right{
    display: flex;
    align-items: center;
}

.right{
    justify-content: flex-end;
}

.right i {
    margin-left: 20px;
}

.left, .right {
    margin-left: 20px;
    margin-right: 20px;
}

.menu-container{
    position:relative;
    display: inline-block;
}

.menu-container i {
    cursor: pointer;
}

.dropdown-menu{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    min-width: 150px;
    z-index: 999;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-menu a {
    display:block;
    padding: 10px;
    color: black;
    text-decoration: none;

}

.dropdown-menu.show{
    display: block;
}
